.ericcontainer{
    background-color: blueviolet;
    border-radius: 25;
    display: block;
    width: 300px;
    height: 400px;
}
.ericcontainer .ericmini1{
    width: 100%;
    height: 50%;
    display: flex;

}
.ericcontainer .ericmini1 .img{
    width: 100%;
    height: 100%;
}
.ericcontainer .ericmini1 .option{
    width: 50px;
    height: 50px;
    margin-top: -52px;
    margin-left: 119px;
    border-radius: 45px;
    background-color: white;
}
.ericcontainer .ericmini1 .heart{
    width: 20%;
    height: 20%;
    position: absolute;
    padding-top: 18px;
    padding-left: 120px;
}

.ericcontainer .ericmini2{
    background-color: black;
    width: 100%;
    height: 50%;
}
.ericcontainer .ericmini2 h3{
    margin: 0px;
}
.ericcontainer .ericmini2 .cat1{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    justify-content: space-between;

}
.ericcontainer .ericmini2 .cat1 .h3{
    text-align: start;
}
.ericcontainer .ericmini2 .cat2{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.ericcontainer .ericmini2 .cat2{
    display: flex;

}
.ericcontainer .ericmini2 .cat3{
    background-color: indianred;
    width: 250px;
    height: 50px;
    border-radius: 30px;
    margin-left: 30px;
    margin-right: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;

}
.ericcontainer .ericmini2 .cat3 button{
    border: none;
    outline: none;
    text-align: center;
    line-height:30px;
    background-color: hotpink;
    border-radius: 70px;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    
}